<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title text-left text-capitalize>{{appService.getTitle()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>


    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [ngStyle]="theme">
  <ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-12 col-lg-12 offset-xl-2 col-xl-8 offset-xl-2>
        <div *ngIf="pageData.videos">
          <ion-list>
            <ion-item *ngFor="let video of pageData.videos">
              <ion-icon [color]="video.playing?'danger':'primary'" name="videocam" item-start></ion-icon>
              {{video.title}}
              <button [disabled]="video.playing" ion-button clear item-end (click)="clickPlay(video)">Play</button>
            </ion-item>
          </ion-list>
          <div text-center>
            <div id="player"></div>
          </div>
        </div>
        <div *ngFor="let line of pageData.lines;let li=index">
          <div [ngSwitch]="line.mode">
            <ion-grid *ngSwitchCase="'table'">
              <ion-row [class.bgrow]="rowIndex<line.bgcrows" [class.table-row]="line.border" *ngFor="let row of line.lines;let rowIndex=index">
                <ion-col col-12 col-sm align-self-start *ngFor="let colLine of row;let colIndex=index">

                  <p (press)="addToFavorites(colLine, li, rowIndex, colIndex)" [attr.text-right]="colLine.d?'':null" [class.fav]="colLine.fav"
                    [attr.no-margin]="colLine.nom" dir="line.d||'ltr'" class="line">
                    <span [class.ans]="colLine.ans">
                      <span class="word" *ngIf="rowIndex>=line.bgcrows && line.lineno && pageData.isReverse && colIndex===line.cols-1">{{appService.getNumber(rowIndex+1-line.bgcrows,true)}})</span>
                      <span class="word" *ngIf="rowIndex>=line.bgcrows && line.lineno && !pageData.isReverse && colIndex===0">{{appService.getNumber(rowIndex+1-line.bgcrows,true)}})</span>
                      <span [attr.dir]="word.d?word.d:null" [ngClass]="calculateCssClass(word)" (click)="setMeaning(colLine, word)" class="word"
                        *ngFor="let word of colLine.words">
                        {{word.w||'ans'}}
                      </span>
                      <ion-icon style="margin-top:6px" *ngIf="speaker!=='none' && colLine.mic" (click)="lineSpeak(colLine)" float-left name="mic"></ion-icon>
                    </span>
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div *ngSwitchDefault>
              <p (press)="addToFavorites(line, li)" [attr.text-right]="line.d?'':null" [class.fav]="line.fav" [attr.no-margin]="line.nom"
                dir="line.d||'ltr'" class="line">
                <span [attr.dir]="word.d?word.d:null" [ngClass]="calculateCssClass(word)" (click)="setMeaning(line, word)" class="word" *ngFor="let word of line.words">
                  {{word.w}}
                </span>
                <ion-icon style="margin-top:6px" *ngIf="speaker!=='none' && line.mic" (click)="lineSpeak(line)" float-left name="mic"></ion-icon>
              </p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary">
    <ion-title>{{getMeaning(selectedWord, appService.setting.language)}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="prev()" [disabled]="activePage===1">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="next()" [disabled]="activePage===totalPage">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-footer>