page-lesson {
    .fav{
        border-radius:.2em;
        border: solid 1px #333;
    }
    .word{
        padding-left: 0.2em;  
        padding-right: 0.2em;       
        line-height: 40px;
        cursor: pointer;
        font-weight: bold;
    }
    .line{
      
    }
    .line:first-child{
        margin-top:0;       
    }
    .selected{        
        color:yellowgreen;
    }
    .ws25{
        display: inline-block;
        width: 25px;
    }
    .ws50{
        display: inline-block;
        width: 50px;
    }
    .ws75{
        display: inline-block;
        width: 75px;
    }
    .ws100{
        display: inline-block;
        width: 100px;
    }
    .ws150{
        display: inline-block;
        width: 150px;
    }
    .ws200{
        display: inline-block;
        width: 200px;
    }
    .ws250{
        display: inline-block;
        width: 250px;
    }
    .ws300{
        display: inline-block;
        width: 300px;
    }
    .bt{
        border-top: solid 2px yellowgreen;
    }
    .bbs{
        border-bottom: solid 2px yellowgreen;
    }
    .bbd{
        border-bottom: dotted 2px yellowgreen;
    }
    .ans{
       border-bottom: dotted 2px black;
       display: block;
       width: 100%;
    }
    .table-row{
        border-radius:4px; 
        border: dotted 2px #488aff;
        margin-top: 1em;
    }
    .bgrow{
        background-color: darkgrey;
    }
}
