// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$app-direction: multi ;


@font-face {
    font-family: p1;
    src: url(assets/fonts/p1.ttf) format("ttf");
    
}

@font-face {
    font-family:"Al Qalam Quran Majeed Web";
    src:url("../assets/arabicFonts/Al_Qalam_Quran_Majeed_Web/Al_Qalam_Quran_Majeed_Web.eot?") format("eot"),
    url("../assets/arabicFonts/Al_Qalam_Quran_Majeed_Web/Al_Qalam_Quran_Majeed_Web.woff") format("woff"),
    url("../assets/arabicFonts/Al_Qalam_Quran_Majeed_Web/Al_Qalam_Quran_Majeed_Web.ttf") format("truetype"),
    url("../assets/arabicFonts/Al_Qalam_Quran_Majeed_Web/Al_Qalam_Quran_Majeed_Web.svg#AlQalamQuranMajeedWeb") format("svg");
    font-weight:normal;font-style:normal;
}

@font-face {
    font-family:"Al Qalam Quran 2";
    src:url("../assets/arabicFonts/Al_Qalam_Quran_2/Al_Qalam_Quran_2.eot?") format("eot"),
    url("../assets/arabicFonts/Al_Qalam_Quran_2/Al_Qalam_Quran_2.woff") format("woff"),
    url("../assets/arabicFonts/Al_Qalam_Quran_2/Al_Qalam_Quran_2.ttf") format("truetype"),
    url("../assets/arabicFonts/Al_Qalam_Quran_2/Al_Qalam_Quran_2.svg#AlQalamQuran2") format("svg");
    font-weight:normal;font-style:normal;
   }